
.text {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}

a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}

p span {
    display: block;
  }

h2 span {
    display: block;
}

ul {
    margin: 25px;
    padding: 0;
  }
  
li {
    padding: 5px;
  }

.photo a img {
  width: 250px;
  height: 250px;
}