
.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links {
    width: 100%;
    position: absolute;
    margin: auto;
    bottom: 10px;
    text-align: center;
}

.social-links a img {
    width: 80px;
    height: 80px;
    padding: 25px;
    display:inline-block;
    margin:5px 20px;    
    transition: all .2s ease-in-out;
}

.social-links a img:hover {
    transform: scale(1.5);
}

.homepage-logo {
    max-width: 65%;
    max-height: 25%;
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
}

.desc {
    max-width: 60%;
    max-height: 20%;
    position: absolute;
    margin: auto;
    left: 32%; 
    right: 0;
    top: 50%;
    bottom: 0;
    font-weight: 2;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    padding: 0;
    text-transform: uppercase;
}
