
.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-logo {
    max-width: 40%;
    max-height: 20%;
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
}

.desc {
    max-width: 60%;
    max-height: 20%;
    position: absolute;
    margin: auto;
    left: 32%; 
    right: 0;
    top: 50%;
    bottom: 0;
    font-weight: 2;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    padding: 0;
    text-transform: uppercase;
}
