
.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-logo {
    max-width: 50%;
    max-height: 30%;
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
}

.desc {
    font-weight: 5;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 0 0.25rem;
    text-transform: uppercase;
}
