@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
/* define the fonts and colors used in the project */
:root {
  --font: 'Open Sans', sans-serif;
  --color-bg: white;
  --color-txt: black;
  --color-home: rgb(240, 187, 237);
  --color-portfolio: rgb(189, 235, 188);
  --color-bio: rgb(255, 231, 125);
  --color-blog: rgb(175, 214, 240);
  --color-contact: rgb(220, 176, 238);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--font);
  color: var(--color-txt);
  background: var(--color-bg);
}

.nav-bar {
  left: 0px;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
}

.nav-bar ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar ul li {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.nav-bar ul li a {
  color: inherit;
  padding: 0;
  letter-spacing: 0rem;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
}

.nav-bar ul li a:before {
  /* include a faux-border with a pseudo element  */
  content: '';
  position: absolute;
  /* by default have the faux-border hidden from view */
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.1s ease-out;
}

.nav-bar ul li:nth-of-type(1) a:before {
  background: var(--color-home);
}
.nav-bar ul li:nth-of-type(2) a:before {
  background: var(--color-portfolio);
}
.nav-bar ul li:nth-of-type(3) a:before {
  background: var(--color-bio);
}
.nav-bar ul li:nth-of-type(4) a:before {
  background: var(--color-blog);
}
.nav-bar ul li:nth-of-type(5) a:before {
  background: var(--color-contact);
}

.nav-bar ul li a:hover:before {
  bottom: -4px;
}








