@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
/* define the fonts and colors used in the project */
:root {
  --font: 'Open Sans', sans-serif;
  --color-bg: white;
  --color-txt: black;
  --color-home: rgb(240, 187, 237);
  --color-portfolio: rgb(189, 235, 188);
  --color-blog: rgb(175, 214, 240);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--font);
  color: var(--color-txt);
  background: var(--color-bg);
}

.nav-bar {
  /* display the items of the navigation bar in a grid, where the anchor link elements take the space left available by the header  */
  display: grid;
  grid-template-columns: auto 1fr;
  /* center the items vertically */
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.nav-bar ul {
  /* display the unordered list in a single row, placing the elements at the end of the grid column */
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  list-style: none;
}

.nav-bar ul li {
  /* separate the list items more prominently */
  margin: 0 1.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-bar ul li a {
  /* reset the anchor link styles */
  color: inherit;
  text-decoration: none;
  padding: 0 0.25rem;
  letter-spacing: 0.2rem;
  /* position relative to absolute position the connected pseudo element */
  position: relative;
}

.nav-bar ul li a:before {
  /* include a faux-border with a pseudo element  */
  content: '';
  position: absolute;
  /* by default have the faux-border hidden from view */
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.1s ease-out;
}

.nav-bar ul li:nth-of-type(1) a:before {
  background: var(--color-home);
}
.nav-bar ul li:nth-of-type(2) a:before {
  background: var(--color-portfolio);
}
.nav-bar ul li:nth-of-type(3) a:before {
  background: var(--color-blog);
}

.nav-bar ul li a:hover:before {
  bottom: -4px;
}





